/* Admin CSS for Quick Debug Log Viewer */
.error-fatal {
    color: #ff4c4c;
    font-weight: bold;
}
.error-warning {
    color: #ffa500;
}
.error-notice {
    color: #ffff66;
}
.scroll-btn {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6E59A5, #5b478f);
    color: #fff;
    border: none;
    border-radius: 1rem;
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.quick-debug-log-container .alert {
    margin-bottom:.5rem;
}

.scroll-btn:hover {
    opacity: 1;
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0 0 2px #6E59A5;
}

#scroll-up-btn {
    top: 0;
    display: none;
}

#scroll-down-btn {
    bottom: 0;
    display: none;
}

.quick-debug-log-viewer-actions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.quick-debug-log-viewer-filter {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.quick-debug-log-viewer-search-container {
    position: relative;
}
.quick-debug-log-viewer-search-container input {
    padding: 6px 30px 6px 40px;
    width: 100%;
    max-width: 400px;
    margin: 1em 0 0;
}

.quick-debug-log-viewer-search-container span {
    position: absolute;
    top: 61%;
    left: 10px;
    transform: translateY(-50%);
    color: #6E59A5;
}